* {
  margin: 0;
}

.header {
  display: flex;
  flex-direction: column;

  align-items: center;
  gap: 15px;
}

body {
  height: auto;
  background: url("./img/background.jpg");
  background-repeat: no-repeat;
  color: white;
}

.main-subtitle {
  margin-bottom: 16px;
}

.avatar {
  width: 200px;
  height: auto; 
  clip-path: circle(40%)
}

.link-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
  list-style-type: none;
}

.link-list-title {
  border: 2px solid black;
  border-radius: 10px;
  align-self: center;
  width: 45%;
  text-align: center;
  font-size: 40px;
  padding: 5px;
}

.link-list-title:hover{
  background-color: #d3eaf2;
}

.link {
  text-decoration: none;
  color: white;
  align-content: center;
}

@media screen and (max-width: 750px) {
    .link-list-title{
        font-size: 36px;
        overflow-wrap: break-word;
    }
    .link-list{
      gap: 8px;
    }Ï
}
