* {
  margin: 0;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  height: auto;
  background: url("./img/background.jpg");
  background-repeat: no-repeat;
  color: white;
}

footer {
  margin-top: 100px;
  text-align: center;
}

.main-subtitle {
  overflow-wrap: anywhere;
  margin-bottom: 14px;
  text-align: center;
}

.avatar {
  width: 200px;
  height: auto;
  clip-path: circle(40%)
}

.link-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
  list-style-type: none;
}

.link-list-title {
  border: 3px solid black;
  border-radius: 10px;

  align-self: center;
  overflow-wrap: break-word;
  width: 50%;

  text-align: center;
  font-size: 36px;

  padding: 5px;
}

.link-list-title:hover {
  background-color: #d3eaf2;
}

.link {
  text-decoration: none;
  color: white;
  align-content: center;
}

@media screen and (max-width: 750px) {


  .link-list-title{
    font-size: 20px;
    width: 65%;
  }

}