@font-face {
    font-family: 'Gidole-regular';
    src: url(./fonts/Gidole-Regular.ttf);
}

@font-face {
    font-family: 'Glacial-indifference-bold';
    src: url(./fonts/glacial-indifference.bold.otf);
}

@font-face {
    font-family: 'Glacial-indifference-regular';
    src: url(./fonts/glacial-indifference.regular.otf);
}

html{
    font-size: 16px;
}

*{
    margin: 0;
    padding: 0;
}

.header{
    background-color: #78a1bb;
}

.full-name{
    font-size: 32px;
    letter-spacing: 3px;
    color: #2f2f3a;
    font-family: 'Glacial-indifference-bold';
    text-transform: uppercase;
    text-align: center;
}

.header-recap{
    font-size: 24px;
    font-family: 'Glacial-indifference-regular';
    text-align: center;
}

.body{
    background-color: #eff9f2;
}

.page-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 30px;
}

.left-widget{
    background-color: #2f2f3a;
    width: 25%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.left-widget-title{
    font-family: 'Glacial-indifference-bold';
    font-size: 24px;
    color: #78a1bb;
    text-transform: uppercase;
}

.left-widget-list{
    list-style-type: none;
    text-align: justify;
    color: #eff9f2;
}

.introduction{
    width: 90%;
    height: auto;
    text-align: justify;
    overflow-wrap: break-word;
    color: #eff9f2;
    font-family: 'Gidole-regular';
}

.contact{
    text-align: center;
    font-family: 'Gidole-regular';
}

.expertise{
    width: 90%;
    overflow-wrap: break-word;
    font-family: 'Gidole-regular';
}

.interest{
    text-align: center;
    font-family: 'Gidole-regular';
}

.main-part{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.main-title{
    margin-top: 10px;
    color: #78a1bb;
    font-family: 'Glacial-indifference-bold';
    font-size: 24px;
    text-transform: uppercase;
}

.container-experience{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.experience-name{
    font-family: 'Glacial-indifference-bold';
    text-transform: uppercase;
    font-weight: 0;
}

.experience-list{
    font-family: 'Gidole-regular';
    list-style-type: circle;
    padding-left: 15px;
}

.experience-duration{
    font-family: 'Gidole-regular';
    font-style: italic;
}

.experience-commentary{
    font-family: 'Gidole-regular';
    font-style: italic;
}