/** Importation des polices d'écritures **/
@font-face {
    font-family: "glacial-indifference-bold";
    src: url("./fonts/glacial-indifference.bold.otf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "glacial-indifference-regular";
    src: url("./fonts/glacial-indifference.regular.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "gidole-regular";
    src: url("./fonts/Gidole-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: #eff9f2;
}

/** header duu cv **/

.top-line{
    background-color: #78a1bb;
    height: 240px;
    width: 101%;

    display: flex;
    flex-wrap: wrap;

    position: relative;
    top: 0px;
    left: -15px;
}

/** Photo du bord gauche **/

.photo{
    width: 230px;
    height: auto;
    clip-path: circle(40%);

    position : absolute;
    left: 90px;
    top: -40px;
}

/** Colonne gauche du CV **/

.left-column{
    position: absolute;
    top: 0px;
    left: 10px;

    background-color: #2f2f3a;
    max-width: 400px;
    height: -500px;
    height: 1300px;
}

/** Nom (sommet du cv) **/

.name{
    color: #2f2f3a;

    position: absolute;
    left: 450px;

    font-family: 'glacial-indifference-bold', sans-serif;
    font-size: 50px;
    text-transform: uppercase
}

/** Ligne se situant sous le nom **/

.description{
    color: #2f2f3a;
    position: absolute;
    top: 70px;
    left: 450px;

    font-family: 'glacial-indifference-regular', sans-serif;
    font-size: 40px;
}

/** Titres bleus se trouvant dans la partie principale **/

.title{
    color: #78a1bb;
    font-size: 24px;
    font-family: 'gidole-regular', sans-serif;
    font-weight: bold;
    text-transform: uppercase;

}

/** Titres du menu gauche **/

.title-left{
    color: #78a1bb;
    font-family: 'gidole-regular', sans-serif;

    text-align: center;
    margin-top: 40px;
    margin-left: 10%;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;

    position: relative;
    top: 210px;
}

/** Bloc d'introduction **/

.introduction{
    color: #eff9f2;
    font-family: 'glacial-indifference-regular', sans-serif;

    margin-left: 10%;
    margin-right: 10%;

    line-height: 24px;;

    text-align: justify;
    position: relative;
    top: 210px;;
}

/** Liste des contacts **/

.contact{
    color: #eff9f2;
    font-family: 'glacial-indifference-regular', sans-serif;

    line-height: 24px;

    margin-left: 0%;
    position: relative;
    top: 210px;
}

/** Liens de la liste des contacts **/

.contact a{
    color: #eff9f2;
    text-decoration: none;
    font-family: 'glacial-indifference-regular', sans-serif;
}


/** Au survol des liens dans le container contact **/

.contact a:hover{
    text-decoration: underline;
    color: #78a1bb;
}

/** Liste des compétences **/

.competences{
    color: #eff9f2;
    font-family: 'glacial-indifference-regular', sans-serif;
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
    line-height: 24px;

    position: relative;
    top: 210px;
}

/** Liste des intérêts **/

.list-interest{
    color: #eff9f2;
    font-family: 'glacial-indifference-regular', sans-serif;

    text-align: center;
    line-height: 24px;

    list-style: none;
    margin-left: 0;
    position: relative;
    top: 210px;
}

/** Partie principale du CV **/

.main-part{
    position: absolute;
    top: 230px;
    left: 460px;
}

/** Titre du poste **/

.post-title{
    font-family: 'glacial-indifference-bold', sans-serif;
    font-size: 22px;
    line-height: 5px;
}

/** Information sur la durée d'occupation du poste **/

.post-info{
    font-family: 'glacial-indifference-regular', sans-serif;
    line-height: 5px;
    font-size: 20px;
}

/** Description du poste occupé **/

.post-description{
    font-family: 'glacial-indifference-regular', sans-serif;
    font-size: 18px;
    line-height: 25px;
}

/* Description liée à l'école */

.school-description{ 
    line-height: 10px;
    font-family: 'glacial-indifference-regular', sans-serif;
    font-size: 18px;
}